:host{
    display: inline-flex;
    outline: none;
}
.box{
    background-color: var(--ptc-select__background-color--idle, var(--ptc-input__background-color--idle, #fff));
    color: var(--ptc-select__color--idle, var(--ptc-input__color--idle, #404040));
    padding: var(--ptc-select__padding--idle, var(--ptc-input__padding--idle, 0.5rem 0));
    height: var(--ptc-select__height--idle, var(--ptc-input__height--idle, 2.125rem));
    margin: var(--ptc-select__margin--idle, var(--ptc-input__margin--idle, 0));
    font-weight: var(--ptc-select__font-weight--idle, var(--ptc-input__font-weight--idle, 400));
    font-size: var(--ptc-select__font-size--idle, var(--ptc-input__font-size--idle, 1rem));
    border-color: var(--ptc-select__border-color--idle, var(--ptc-input__border-color--idle, gray));
    border-width: var(--ptc-select__border-width--idle, var(--ptc-input__border-width--idle, 1px));
    border-style: var(--ptc-select__border-style--idle, var(--ptc-input__border-style--idle, solid));
    border-radius: var(--ptc-select__border-radius--idle, var(--ptc-input__border-radius--idle, 0));
    display: inline-block;
    position: relative;
    overflow: hidden;

    min-width: 175px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    box-sizing: border-box;

    cursor: pointer;

    &__output{
        flex: 1 1 auto;
        pointer-events: none;
        user-select: none;
    }
}

.chevron{
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    svg {
        stroke: #1d697b;
    }
}

.dropdown{
    position: absolute;
    margin-block-start: 52px;
    z-index: 9999;
    max-height: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;

    opacity: 0;
    transform: scaleY(1);
    pointer-events: none;
    min-width: 175px;

    &.visible{
        opacity: 1;
        transform: scaleY(1);
        pointer-events: all;
    }

    &__scroller{
        overflow-y: auto;
        overflow-x: hidden;
        flex:1 1 auto;
    }
}