@import "../ptc/ptc";
@import "../ptc/elevation";

//prop($element, $variant, $generic, $propertyName, $propertyState, $propertyValue)

@mixin p($propertyName, $propertyState, $propertyValue) {
    @include prop(select, null, input, $propertyName, $propertyState, $propertyValue);
}

:host{
    display: inline-flex;
    outline: none;
}
.box{
    @include p(background-color, idle, $color-grayscale-max);
    @include p(color, idle, $color-grayscale-25);
    @include p(padding, idle, 0.5rem 0);
    @include p(height, idle, 2.125rem);
    @include p(margin, idle, 0);
    @include p(font-weight, idle, 400);
    @include p(font-size, idle, 1rem);
    @include p(border-color, idle, $color-input-border-idle);
    @include p(border-width, idle, $elements-input-border-width);
    @include p(border-style, idle, $elements-input-border-style);
    @include p(border-radius, idle, $border-radius);
    display: inline-block;
    position: relative;
    overflow: hidden;

    min-width: 175px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    box-sizing: border-box;

    cursor: pointer;

    &__output{
        flex: 1 1 auto;
        pointer-events: none;
        user-select: none;
    }
}

.chevron{
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    svg {
        @include prop(select-chevron, null, input-helper, stroke, idle, $color-cta-idle);
    }
}

.dropdown{
    position: absolute;
    margin-block-start: 34px;
    z-index: 9999;
    max-height: 300px;
    @include prop(select-dropdown, null, container, background-color, idle, $color-grayscale-max);
    @include elevation-3();
    display: flex;
    flex-direction: column;

    opacity: 0;
    transform: scaleY(1);
    pointer-events: none;
    min-width: 175px;

    &.visible{
        opacity: 1;
        transform: scaleY(1);
        pointer-events: all;
    }

    &__scroller{
        overflow-y: auto;
        overflow-x: hidden;
        flex:1 1 auto;
    }
}