$shadowColor: rgba(0,0,0,0.35);

:host([elevation="1"]) {
    box-shadow: var(--ptc-elevation__one-shadow-horizontal, 0) var(--ptc-elevation__one-shadow-vertical, 2px)
        var(--ptc-elevation__one-shadow-blur, 3px) var(--ptc-elevation__one-shadow-color, $shadowColor);
}
:host([elevation="2"]) {
    box-shadow: var(--ptc-elevation__two-shadow-horizontal, 0) var(--ptc-elevation__two-shadow-vertical, 4px)
        var(--ptc-elevation__two-shadow-blur, 5px) var(--ptc-elevation__two-shadow-color, $shadowColor);
}
:host([elevation="3"]) {
    box-shadow: var(--ptc-elevation__two-shadow-horizontal, 0) var(--ptc-elevation__two-shadow-vertical, 8px)
        var(--ptc-elevation__two-shadow-blur, 8px) var(--ptc-elevation__two-shadow-color, $shadowColor);
}
