@import "variables";

* {
    -webkit-font-smoothing: antialiased;
}

@mixin prop($element, $variant, $generic, $propertyName, $propertyState, $propertyValue) {
    $variantConnector: "";
    @if $variant {
        $variantConnector: "-";
    }

    #{$propertyName}: var(
        --#{$framework-prefix}-#{$element}#{$variantConnector}#{$variant}__#{$propertyName}--#{$propertyState},
        var(--#{$framework-prefix}-#{$generic}__#{$propertyName}--#{$propertyState}, $propertyValue)
    );
}
